 

<form method="POST" action="{% url 'reset_password_form' %}">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username" required><br>
    <input type="email" name="email" placeholder="Email"><br>
    <input type="text" name="phone" placeholder="Phone" required><br>
    <input type="password" name="password" placeholder="Password" required><br>
    <input type="password" name="confirm_password" placeholder="Confirm Password" required><br>
  
    <button type="submit">Register</button>
</form>



{% for message in messages %}
    <p>{{ message }}</p>
{% endfor %}
